@import '../../styles/colors';

.stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 8px;
  padding: 2px 16px;
  text-align: center;
}

.steps {
  display: inline-block;
  height: 20px;
}

.step {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 4px;
  margin: 0 4px;
  border-radius: 2px;
  background-color: $blue-500;
  font: 0/0 a;
  transition: all 0.25s ease-out;
}

.active {
  background-color: $blue-500; // TODO: Should we change this color so that it stands out from the default step color? (if not: then we should remove the hideActiveStep prop since it currently does nothing)
}

.inactive {
  background-color: $blue-700;
  opacity: 0.2;
}
