.prefix {
  position: absolute;
  left: 16px;
  top: 31px;
  z-index: 5;
  opacity: 0;
  transition: all 0.15s ease-out;
}

.filled {
  /deep/ input {
    text-indent: 36px;
  }

  .prefix {
    opacity: 1;
  }
}
