.prefix-container {
  position: absolute;
  left: 0;
  top: 0;
  padding: 28px 0 0 16px;
  z-index: 5;
  opacity: 0;
  transition: all 0.15s ease-out;
  display: flex;
  flex-direction: row;
  min-width: 54px;
}

.filled {
  ::v-deep input {
    text-indent: 60px;
  }

  .prefix-container {
    opacity: 1;
  }
}

.flag {
  margin-right: 10px;
  margin-top: -2px;
}
