@import '../../styles/colors';

.checkbox {
  display: flex;
  min-width: 45px;
  touch-action: manipulation;

  label {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type=checkbox] {
    display: none;
    height: 24px;
    width: 24px;
  }
}

.track {
  display: block;
  background-color: $white;
  border: 1px solid $black-400;
  border-radius: 104px;
  height: 24px;
  width: 40px;
  transition: background-color 75ms linear;
}

.knob {
  background-color: $black-400;
  border-radius: 104px;
  height: 20px;
  width: 20px;
  position: absolute;
  transform: translateX(-12px);
  transition: all 75ms ease-out;
  margin-left: 6px;
}

.checked .track {
  background-color: $blue-500;
  border-color: $blue-500;
}

.checked .knob {
  background-color: $white;
  transform: translateX(12px);
  margin-left: 0;
  margin-right: 6px;
}
