{
  "plugins": [
      "transform-class-properties"
  ],
  "env": {
      "test": {
        "plugins": [
            ["babel-plugin-transform-react-jsx", { "pragma":"h" }],
            [
        "babel-plugin-jsx-pragmatic",
        {
          "module": "preact",
          "export": "h",
          "import": "h"
        }
      ],
             "transform-es2015-modules-commonjs",
             "transform-class-properties",
          ]
      }
  }
}