html {
  overflow-y: scroll !important;
}

body {
  overflow-y: scroll !important;
}

.screen {
  height: 100% !important;
}

section[data-testid="forward-section"],
section[data-testid="verify-phone-cta-section"] {
  position: unset !important;
}
