@import '../../styles/colors';

.button {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: $blue-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: Graphik, Roboto, Sans-serif;
  text-align: center;
  text-decoration: none;
  color: $white;
  border-radius: 28px;
  border: solid 1px transparent;
  cursor: pointer;
  height: 56px;
  transition: background 100ms ease-out;
  touch-action: manipulation;

  &:active,
  &.pressed {
    background-color: $blue-600;
  }

  &:hover {
    text-decoration: none;
  }

  &[disabled],
  &:disabled {
    background: $black-300;
    color: $black-500;
    border-color: transparent;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $blue-600;
    opacity: 0.4;
    transform: skew(-17deg);
  }
}

.secondary {
  background: transparent;
  color: $blue-500;
  box-shadow: none;
  border: solid 1px $black-300;

  &:active,
  &.pressed {
    background-color: $black-200;
    color: $blue-600;
  }
}

.link-button {
  border: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &[disabled],
  &:disabled {
    background-color: transparent;
    color: $black-500;
  }

  &:active,
  &.pressed {
    background-color: transparent;
    color: $blue-600;
  }
}

.default-wrapper {
  display: block;
}

.loading-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
  opacity: 0;
  transform: translateY(100%);
}

.default-wrapper,
.loading-wrapper {
  transition: all 100ms ease-out;
}

.loading .loading-wrapper {
  opacity: 1;
  transform: translateY(0);
}

.loading .default-wrapper {
  opacity: 0;
  transform: translateY(-100%);
}

.drop-shadow {
  box-shadow: 0 2px 4px rgba(18, 30, 49, 0.16);
}

.loading:after {
  animation-duration: 2s;
  animation-name: loadingAnimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingAnimation {
  from {
    width: 0;
  }

  to {
    width: 101%;
  }
}
