.item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	overflow: hidden;
	position: relative;
	padding: 8px 16px;
}

.media {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	overflow: hidden;
	margin-right: 12px;
	width: 44px;
	height: 44px;
	border-radius: 3px;
	background: var(--black-400);
}

.media.tp-black { background-color: transparent; border: 1px solid var(--black-300);}
.media.tp-blue { background-color: transparent; border: 1px solid var(--blue-300);}
.media.tp-yellow { background-color: transparent; border: 1px solid var(--yellow-300);}
.media.tp-green { background-color: transparent; border: 1px solid var(--green-300);}
.media.tp-brown { background-color: transparent; border: 1px solid var(--brown-300);}
.media.tp-purple { background-color: transparent; border: 1px solid var(--purple-300);}

.media.black { background-color: var(--black-300); }
.media.blue { background-color: var(--blue-300); }
.media.yellow { background-color: var(--yellow-300); }
.media.green { background-color: var(--green-300); }
.media.brown { background-color: var(--brown-300); }
.media.purple { background-color: var(--purple-300); }

.body {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-grow: 1;
}

.icon {
	flex-shrink: 0;
}

.link {
	color: var(--blue-500);
	font: var(--callout);
	font-weight: 500;
	margin-top: 8px;
	text-transform: uppercase;
}
