@import '../../styles/colors';

.topbar {
  position: relative;
  z-index: 95;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 56px;
  padding: 0 56px 0 72px;
  text-align: left;
  background: $white;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
