.title {
  font: var(--default-xl);
	color: var(--black-700);
}

.txt-xxxl {
  font: var(--default-xxxl);
}

.txt-xxl {
  font: var(--default-xxl);
}

.txt-xl {
  font: var(--default-xl);
}

.txt-large {
  font: var(--default-l);
}

.txt-medium {
  font: var(--default-m);
}

.txt-small {
  font: var(--default-s);
}

.txt-xsmall {
  font: var(--default-xs);
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}
