.screen {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	background: #FFF;
	opacity: 1;
}

.stacked {
	transform: translateX(0);
	opacity: 1;
}
