.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 995;
	display: flex;
	flex-direction: column;
	align-content: center;
	opacity: 0;
	transition: opacity 150ms ease-out;
	pointer-events: none;
}
.overlay.visible { opacity: 1; pointer-events: auto; }

.dim {
	background: var(--black-700-alpha);
	flex-grow: 1;
}

.dialog {
	box-sizing: border-box;
	align-self: flex-end;
	background: #FFFFFF;
	padding-top: 8px;
	white-space: normal;
	transform: translateY(5%);
	transform-origin: center top;
	transition: transform 150ms ease-out;
	width: 100%;
}
.visible .dialog { transform: translateY(0) }


.title { margin-bottom: 8px; font-weight: 600}
.description { margin-bottom: 8px; }
.content { max-height: 44vh; }

.actions {
	padding: 0 16px 16px;
}

.dismiss {
	margin-top: 16px;
}
