$default-xxxl: 600 32px/40px Graphik, Roboto, sans-serif;
$default-xxl: 600 24px/32px Graphik, Roboto, sans-serif;
$default-xl: 500 20px/28px Graphik, Roboto, sans-serif;
$default-l: 500 18px/24px Graphik, Roboto, sans-serif;
$default-m: 400 16px/24px Graphik, Roboto, sans-serif;
$default-s: 400 14px/20px Graphik, Roboto, sans-serif;
$default-xs: 400 12px/16px Graphik, Roboto, sans-serif;

$tablet-xxxl: 600 34px/48px Graphik, Roboto, sans-serif;
$tablet-xxl: 600 32px/40px Graphik, Roboto, sans-serif;
$tablet-xl: 500 28px/32px Graphik, Roboto, sans-serif;
$tablet-l: 500 24px/32px Graphik, Roboto, sans-serif;
$tablet-m: 400 16px/24px Graphik, Roboto, sans-serif;
$tablet-s: 400 14px/24px Graphik, Roboto, sans-serif;
$tablet-xs: 400 12px/16px Graphik, Roboto, sans-serif;

$tablet-landscape-xxxl: 600 36px/56px Graphik, Roboto, sans-serif;
$tablet-landscape-xxl: 600 32px/48px Graphik, Roboto, sans-serif;
$tablet-landscape-xl: 500 28px/40px Graphik, Roboto, sans-serif;
$tablet-landscape-l: 500 24px/32px Graphik, Roboto, sans-serif;
$tablet-landscape-m: 400 16px/24px Graphik, Roboto, sans-serif;
$tablet-landscape-s: 400 14px/24px Graphik, Roboto, sans-serif;
$tablet-landscape-xs: 400 12px/16px Graphik, Roboto, sans-serif;

$laptop-xxxl: 600 36px/56px Graphik, Roboto, sans-serif;
$laptop-xxl: 600 32px/48px Graphik, Roboto, sans-serif;
$laptop-xl: 500 30px/40px Graphik, Roboto, sans-serif;
$laptop-l: 500 24px/32px Graphik, Roboto, sans-serif;
$laptop-m: 400 16px/24px Graphik, Roboto, sans-serif;
$laptop-s: 400 14px/24px Graphik, Roboto, sans-serif;
$laptop-xs: 400 12px/16px Graphik, Roboto, sans-serif;

$widescreen-xxxl: 600 56px/80px Graphik, Roboto, sans-serif;
$widescreen-xxl: 600 48px/64px Graphik, Roboto, sans-serif;
$widescreen-xl: 500 40px/64px Graphik, Roboto, sans-serif;
$widescreen-l: 500 32px/56px Graphik, Roboto, sans-serif;
$widescreen-m: 400 20px/32px Graphik, Roboto, sans-serif;
$widescreen-s: 400 16px/32px Graphik, Roboto, sans-serif;
$widescreen-xs: 400 12px/16px Graphik, Roboto, sans-serif;

// Headings
$title0: 500 48px/56px Graphik, Roboto, Sans-serif;
$headline: 500 17px/24px Graphik, Roboto, Sans-serif;
$title1: 500 34px/40px Graphik, Roboto, Sans-serif;
$title2: 500 20px/28px Graphik, Roboto, Sans-serif;

// Text
$body: 16px/24px Graphik, Roboto, Sans-serif;
$callout: 14px/20px Roboto, Sans-serif;
$footnote: 12px/16px Graphik, Roboto, Sans-serif;
