@import '../../styles/colors';
@import '../../styles/typography';

$item-box-size: 48px;

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: $item-box-size;
  padding: 11px 16px;

  &.success {
    background-color: $black-200;
    border-radius: 16px;
  }

  &:active,
  &.pressed {
    background-color: $black-200;
  }
}

.title {
  font: $default-m;
  margin-bottom: 2px;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 16px;
  width: $item-box-size;
  height: 100%;
  border-radius: 14px;
  border: solid 1px $black-300;
}

.no-border {
  border: none;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.item-icon {
  flex-shrink: 0;
}

.meta-text {
  font: $tablet-s;
}
