@import "../../styles/colors";

$colors: "blue" $blue-300 $blue-400 $blue-500,
  "brown" $brown-500 $brown-500 $brown-600,
  "green" $green-500 $green-500 $green-600,
  "orange" $orange-400 $orange-400 $orange-500,
  "pink" $pink-400 $pink-500 $pink-600,
  "purple" $purple-300 $purple-400 $purple-500,
  "red" $red-400 $red-400 $red-500,
  "yellow" $yellow-400 $yellow-400 $yellow-500;

.progress-container {
  position: relative;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  .progress-bar-wrapper {
    position: relative;
    display: block;
    height: 16px;

    box-sizing: content-box;
    border-radius: 104px;

    .progress-background {
      width: 100%;
      height: 100%;
      border-radius: 104px;
      box-sizing: border-box;

      background-color: $black-200;
    }

    .progress-bar {
      position: relative;
      height: 100%;
      width: var(--progression-percentage);
    }

    .pill-effect {
      position: absolute;
      top: 4px;
      left: 0;
      width: 100%;
      max-width: calc(100% - 8px);
      height: 3px;
      border-radius: 30px;
    }

    .bar-container {
      position: absolute;
      left: 8px;
      right: 8px;
      top: 0;
      bottom: 0;
    }

    .circle-filler {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 8px;

      &.left {
        left: 0;
        border-top-left-radius: 104px;
        border-bottom-left-radius: 104px;
      }

      &.right {
        right: 0;
        border-top-right-radius: 104px;
        border-bottom-right-radius: 104px;
      }
    }

    @each $color, $color1, $color2, $color3 in $colors {
      &.#{$color} {
        .progress-background {
          background-color: $color1;
        }
        .progress-bar {
          background-color: $color3;
        }
        .pill-effect {
          background-color: $color2;
        }
        .circle-filler {
          background-color: $color3;
        }
      }
    }
  }
}
