@import '../../styles/colors';

$colors: "blue" $blue-600, "orange" $orange-500, "pink" $pink-600, "purple" $purple-400, "red" $red-500, "yellow" $yellow-500;

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  overflow: hidden;
}

.confetti-container {
  position: absolute;
  top: -10%;
}

:deep(.confetti) {
  width: 100%;
  height: 100%;

  @each $colorName, $color in $colors {
    &.#{$colorName} {
      background-color: $color;
    }
  }
}
