:root {
  --black-100: #ffffff;
  --black-200: #f4f5f7;
  --black-300: #ebecf0;
  --black-400: #dfe1e6;
  --black-500: #6b778c;
  --black-600: #344563;
  --black-700: #121e31;
  --blue-300: #cff6ff;
  --blue-400: #66c6ec;
  --blue-500: #00a0df;
  --blue-600: #005da0;
  --blue-700: #002f6b;
  --brown-300: #fefdf9;
  --brown-400: #fdf8ee;
  --brown-500: #faf0e1;
  --brown-600: #b39371;
  --brown-700: #774c2b;
  --green-300: #e7fde1;
  --green-400: #a5f5a5;
  --green-500: #66de7d;
  --green-600: #38ad5a;
  --green-700: #136a45;
  --purple-300: #d5d5f6;
  --purple-400: #7878c9;
  --purple-500: #19194b;
  --purple-600: #0c0c36;
  --purple-700: #040424;
  --red-300: #fee2db;
  --red-400: #f99493;
  --red-500: #eb4b68;
  --red-600: #a92556;
  --red-700: #700e45;
  --yellow-300: #fef8db;
  --yellow-400: #fde293;
  --yellow-500: #fac34b;
  --yellow-600: #b37e25;
  --yellow-700: #77490e;

  --black-700-alpha: rgba(18, 30, 49, 0.75);
}
