.toclipboard {
    font: var(--default-m);
    font-weight: 500;
  }
  
  .tocopy {
    color: var(--blue-500);
  }
  
  .copying {
    color: var(--black-500);
  }
  
  .copied {
    color: var(--green-600);
  }
  