.txt {
  font: var(--default-m);
  color: var(--black-500);
}

.txt strong {
  font-weight: 500;
}

.txt-xxxl {
  font: var(--default-xxxl);
}

.txt-xxl {
  font: var(--default-xxl);
}

.txt-xl {
  font: var(--default-xl);
}

.txt-large {
  font: var(--default-l);
}

.txt-medium {
  font: var(--default-m);
}

.txt-small {
  font: var(--default-s);
}

.txt-xsmall {
  font: var(--default-xs);
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.red-500 {
  color: var(--red-500)
}
.blue-500 {
  color: var(--blue-500)
}
.green-500 {
  color: var(--green-500)
}
.purple-500 {
  color: var(--purple-500)
}
.yellow-500 {
  color: var(--yellow-500)
}
.brown-500 {
  color: var(--brow-500)
}
