.spinner {
	margin: -2px 8px 0 0;
	animation: SpinnerSpin 1.5s infinite linear;
}

.spinner path[fill="#333333"] { fill: var(--black-700); }
.spinner path[fill="#FFFFFF"] { fill: #FFFFFF; }

@keyframes SpinnerSpin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
