@import '../../styles/colors';
@import '../../styles/typography';

.clipboard-button {
  font: $default-m;
  font-size: 14px;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

.tocopy {
  color: $blue-500;
}

.copying {
  color: $black-500;
}

.copied {
  color: $green-600;
}
