.item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 44px;
	padding: 8px 16px;
}

.media {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	overflow: hidden;
	margin-right: 12px;
	width: 44px;
	height: 100%;
	border-radius: 3px;
	background: var(--black-400);
}

.media.blue-300 { background-color: var(--blue-300); }
.media.yellow-300 { background-color: var(--yellow-300); }
.media.green-300 { background-color: var(--green-300); }
.media.brown-300 { background-color: var(--brown-300); }
.media.purple-300 { background-color: var(--purple-300); }
.media.black-100 { background-color: var(--black-100); }
.media.black-200 { background-color: var(--black-200); }
.media.black-300 { background-color: var(--black-300); }

.body {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	flex-grow: 1;
}

.icon {
	flex-shrink: 0;
}
