@import '../../styles/colors';

.wrapper {
  margin-left: auto;
  padding: 16px;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.forward-icon::v-deep path[fill] {
  fill: $black-100;

  :disabled & {
    fill: $black-500;
  }
}


