@import '../../styles/colors';

.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 1px $black-300;
  padding: 16px;
  background-color: $black-200;
}
