@import '../../styles/colors';

.figure-card {
  background: $white;
  border: 1px solid $black-400;
  position: relative;
  text-align: center;

  a {
    text-decoration: none;
  }

  figcaption {
    background: $black-200;
    padding: 10px 11px;
    border-top: 1px solid $black-400;
    border-radius: 0 0 6px 6px;
    text-align: left;
  }

  .image-wrapper {
    box-sizing: border-box;
    width: 135px;
    height: 85px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
    margin: 0 auto;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    font-weight: 500;
  }
}

.figure-card,
.figure-card figure,
.figure-card .image-wrapper {
  border-radius: 6px;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 12px;
  bottom: 18px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
