@import '../../styles/colors';
@import '../../styles/typography';

.field-container {
  background: $white;
  border: 1.5px solid $black-300;
  border-radius: 8px;

  &.disabled {
    background-color: $black-200;
  }

  &.error {
    border-color: $red-500;
  }
}

.field {
  display: block;
  position: relative;
  padding: 28px 20px 8px 16px;
  box-sizing: border-box;
  cursor: text;
  touch-action: manipulation;
  height: 56px;
}

.label {
  position: absolute;
  top: 19px;
  left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: Graphik, Roboto, sans-serif;
  color: $blue-600;
  transition: all 0.15s ease-out;
}

.labeled .label {
  top: 9px;
  font: 500 12px/16px Graphik, Roboto, sans-serif;
  color: $blue-600;
}

.input {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  color: $black-700;
  font: $default-m;
  height: 24px;
  padding-right: 18px;
  width: 100%;
  vertical-align: top;
}

.focus {
  border-color: $blue-600;

  &.readonly {
    border-color: $black-300;
  }

  .label {
    font-weight: 500;
  }

  .clear-icon-container {
    display: initial;
  }
}

.error {
  .label {
    color: $red-500;
  }
}

.disabled {
 input {
   color: $black-500;
 }
}

.disabled,
.readonly {
  .label {
    color: $black-500;
  }

  input[readonly] {
    color: $black-700;
  }
}

.extra-text-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 6px 0 8px 16px;
}

.error-icon {
  height: 16px;
  min-height: 16px;
  width: 16px;
  min-width: 16px;
  margin-right: 8px;

  ::v-deep path {
    fill: $red-500;
  }
}

.help-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.clear-icon-container {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 20px;
  top: 19px;
  font-size: 16px;
}

.clear-icon {
  height: 16px;
  min-height: 16px;
  width: 16px;
  min-width: 16px;

  ::v-deep path {
    fill: $black-500;
  }
}
