.field {
	display: block;
	position: relative;
	padding: 32px 16px 12px;
	background: #FFF;
	cursor: text;
	touch-action: manipulation;
}

.label {
	position: absolute;
	top: 32px;
	left: 16px;
	font: 500 14px/24px Graphik, Roboto, sans-serif;
	color: var(--black-500);
	transition: all 0.15s ease-out;
}

.input {
	width: 100%;
	height: 24px;
	box-sizing: border-box;
	padding: 0 0 2px;
	border: none;
	font: var(--default-m);
	color: var(--black-700);
}

.field:before {
	content: "";
	position: absolute;
	bottom: 12px;
	left: 16px;
	right: 16px;
	height: 1px;
	background: var(--black-400);
	pointer-events: none;
	transition: all 0.15s ease-out;
}

.labeled .label {
	top: 12px;
	font: 500 14px/24px Graphik, Roboto, sans-serif;
	font-weight: 500;
	color: var(--blue-600);
}

.focus:before {
	height: 2px;
	background-color: var(--blue-500);
}

/* Error state */
.error:before { background: var(--red-500); }
.error .label { color: var(--red-500); }


.readonly .label { color: var(--black-500); }

.readonly:before {
	background-color: transparent !important;
}

.readonly input[readonly] {
	color: var(--black-500);
}
