@import '../../styles/colors';

.wrapper {
  background: $white;
  padding-bottom: 16px;
  flex-grow: 1;
}

.title {
  padding: 24px 16px 8px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  touch-action: manipulation;
  min-height: 56px;
}

.checked {
  .radio {
    border-color: $blue-500;
    background-color: $blue-500;

    &:before {
      background: $white;
      width: 10px;
      height: 10px;
      transform: scale(1);
    }
  }
}

.radio {
  position: relative;
  margin: 16px;
  flex-shrink: 0;
  appearance: none;
  width: 24px;
  height: 24px;
  border: solid 1px $black-400;
  border-radius: 104px;
  box-sizing: border-box;
  transition: all 0.15s ease-out;

  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    content: "";
    width: 5px;
    height: 5px;
    background: $black-400;
    border-radius: 104px;
    transform: scale(0);
    transition: all 0.15s ease-out;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-right: 16px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Graphik, Roboto, sans-serif;
  color: $black-700;
}

.buttons {
  padding: 4px;
  border-radius: 104px;
  background-color: $black-200;
  display: flex;

  input {
    display: none;
  }

  .content {
    text-align: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .label {
    font-size: 14px;
    color: $black-600;
    cursor: pointer;
    width: 100%;
    line-height: 40px;
  }

  .item {
    background-color: transparent;
    width: 100%;
    text-align: center;
    min-height: 40px;
    justify-content: center;

    &.checked {
      background-color: $black-100;
      box-shadow: 0 0 4px #00000014;
      border-radius: 104px;

      .label {
        font-weight: 600;
        color: $purple-500;
      }
    }
    &:hover {
      .label {
        font-weight: 600;
        color: $purple-500;
      }
    }
  }
}
