:global(.doc-app .doc-screen) {
	padding: 32px;
	left: 240px;
	transition: none;
}

/* Basic .md theme */
body { user-select: auto; }
.h1 { font: var(--title1); color: var(--charcoal); margin-bottom: 16px; }
.h2 { font: var(--title2); color: var(--charcoal); padding-top: 16px; margin-bottom: 16px; }
.h3 { font: var(--headline); color: var(--charcoal); padding-top: 16px; margin-bottom: 16px; }
.table { font: var(--body); color: var(--concrete); border: solid 1px var(--silver); border-radius: 3px; margin-bottom: 16px; }
.table th { background-color: #FFFFFF; color: var(--charcoal); padding: 8px; border: solid 1px var(--silver); }
.table td { padding: 8px; border: solid 1px var(--silver); }
.table a { font: var(--callout); }
.ol { list-style: decimal inside; margin-bottom: 16px; }
.ul { list-style: circle inside; margin-bottom: 16px; }
.p, .li { font: var(--body); color: var(--concrete); margin-bottom: 16px; }
.p code, .li code, .table code {
	display: inline-block;
	font: var(--callout);
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	color: var(--dpurple);
	padding: 2px 4px;
	border-radius: 3px;
}

.p code:hover,
.li code:hover,
.table code:hover { background-color: #FFFFFF; }
.a { color: var(--blue); }

:global(.prism-code),
:global(.doc-screen code[class*="language-"]),
:global(.doc-screen pre[class*="language-"]) {
	padding: 16px;
	background: #FFFFFF;
	border: solid 1px var(--silver);
	border-radius: 3px;
	overflow: auto;
	display: block;
	font: var(--footnote);
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
	margin-bottom: 16px;
}

:global(.react-live-error) {
	line-height: 1.5em;
	padding: 16px;
	color: var(--dpurple);
	border-radius: 3px;
}

:global(.react-live-preview) {
	position: relative;
	width: 360px;
	padding: 16px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGklEQVQYlWN49uzZf3TMgA0MBYWDzDkUKQQAz864k8tUv+0AAAAASUVORK5CYII=) repeat left top;
}

:global(.doc-full-viewport .react-live-preview) { box-sizing: border-box; height: 640px; }

