.title {
  text-align: center;
  margin: 8px;
}

.text-info {
  text-align: center;
  margin: 0 16px;
  padding: 0 4px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.wip {
  width: 360px;
  height: 264px;
}
