@import '../../styles/colors';
@import '../../styles/typography';

.select-box-container {
  display: block;
  position: relative;
  padding: 12px 16px;
  height: 44px;
  background: $white;
  cursor: text;
  touch-action: manipulation;

  &:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 16px;
    right: 16px;
    height: 1px;
    background: $black-400;
    pointer-events: none;
    transition: all 0.15s ease-out;
  }
}

.label {
  display: block;
  margin-bottom: 2px;
  font: 500 14px/24px Graphik, Roboto, sans-serif;
  color: $blue-600;
}

.icon {
  position: absolute;
  right: 12px;
  top: 20px;
}

.select {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 16px;
  box-sizing: border-box;
  border: none;
  font: $default-m;
  color: $black-700;
  background: none;
  appearance: none;

  option {
    padding: 0;
  }
}

.focus:before {
  height: 2px;
  background-color: $blue-500;
}
